/*FONT IMPORTATI*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/* PARAGRAFI UBUNTU */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Staatliches&family=Ubuntu:wght@300&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
/* STYLING DI BASE */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

*::after,*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: white;
}

ul{
    list-style: none;
}

body{
     background-color: var(--grey);
     font-family: "Montserrat", sans-serif; 
    /* FONT DI BASE */
}


:root{
    --grey:#f8f8ff;
}

/* LAYOUT */
.container{
    max-width: 1140px;
    margin:auto;
    width: calc(100% - 48px);
}

.flex-container{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.brand{
    color:violet;
}

/* TITOLI E PARAGRAFI */
h1{
    font-family: 'Staatliches', sans-serif;
    font-size: 2.9rem;
    font-weight: 300; /*modifica lo spessore*/
}

h2{
    font-family: 'Staatliches', sans-serif;
    font-size: 56px;
    font-weight: 700; /*modifica lo spessore*/
}

h3{
    font-family: 'Staatliches', sans-serif;
    font-size: 24px;
    line-height: 43px;
    font-weight: 600; /*modifica lo spessore*/
}

h4,h6{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

p{
    font-family: "", sans-serif; 
    font-size: 1.2rem;
}


/* NAVBAR */

#navbar{
    background-color: #1B4965;
    width: 100%;
    height: 72px;
}


#nav-list li{
    
    padding: 16px 10px;
    border-radius: 16px;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

#navbar input{
    
    border-radius: 16px;
    max-width: 367px;
    width: 100%;
    height: 48px;
    border: none; /*mi toglie il bordo*/
    padding-left: 30px;
    outline: none;
    font-size: 16px;
    color: black;

}

.active-link:hover{
    background-color: black;
    margin-left: 10px;
}

.logo{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background-color: white;
}

/* SECTION PRINCIPALE */

.login{
    background-color: #1B4965;
    padding: 20px;
    margin: 10% 0 0 35%;
    border-radius: 20px;
    width: 30%;
}

.wrap-login{
    padding: 10px;
    margin-top: 10px;
    width:100%;
}

#section-principale .login .wrap-login hr{
    margin-bottom: 30px;
}

#section-principale .login .wrap-login p{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

#section-principale .login  .wrap-login  form{
    text-align: center;
}

#section-principale .login form input{

    font-family: "Montserrat", sans-serif; 
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    padding: 10px;
    color: black;
    border-radius: 10px;
    width: 90%;
    outline: none;
    font-weight: 500;


}

button[type="submit"]:hover{
    background-color: darkcyan;
}

.btn{

    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    margin-left: 60%;
    background-color: black;

}


/* MEDIA QUERY */
@media (max-width: 480px) {

    .login{
        background-color: #1B4965;
        border-radius: 20px;
        width: 60%;
        padding: 40px;
        margin-right: 90%;        
    }
    

  
    
    

   
}


