/*FONT IMPORTATI*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* STYLING DI BASE */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

*::after,*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: gray;
}

ul{
    list-style: none;
}

body{
    background-color: gray;
    font-family: "Montserrat", sans-serif; 
    /* FONT DI BASE */
}


:root{
    --grey:#f8f8ff;
}

/* LAYOUT */
.container{
    max-width: 1140px;
    margin:auto;
    width: calc(100% - 48px);
}

.flex-container{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

/* TITOLI E PARAGRAFI */
h1{
    font-family: 'Staatliches', sans-serif;
    font-size: 2.9rem;
    font-weight: 300; /*modifica lo spessore*/
}

h2{
    font-family: 'Staatliches', sans-serif;
    font-size: 1.5rem;
    font-weight: 600; /*modifica lo spessore*/

}

h3{
    font-family: 'Staatliches', sans-serif;
    font-size: 1.2rem;
    font-weight: 500; /*modifica lo spessore*/

}

p{
    font-family: "", sans-serif; 
    font-size: 1.5rem;
}


/* NAVBAR */
#navbar{
    background-color: white;
    width: 100%;
    height: 72px;
    position: fixed;
   
}

#nav-list li{
    padding: 16px 10px;
    border-radius: 16px;
    color: gray;
    font-weight: 500;
    font-size: 14px;
}

.active-link:hover{
    background-color: #D2D2D2;
    margin-left: 10px;
}

/* header */
.container-header{
    max-width: 1700px;
    margin:auto;
    width: calc(100% - 48px);
}

#claim{
    background-color: var(--grey);
    width: 100%;
    height: 280px;
}

/* MAIN */

