/*FONT IMPORTATI*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* STYLING DI BASE */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

*::after,*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: gray;
}

ul{
    list-style: none;
}

body{
    background-color: gray;
    font-family: "Montserrat", sans-serif; 
    /* FONT DI BASE */
}


:root{
    --grey:#f8f8ff;
}

/* LAYOUT */
.container{
    max-width: 1140px;
    margin:auto;
    width: calc(100% - 48px);
}

.flex-container{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.brand{
    color:violet;
}

/* TITOLI E PARAGRAFI */
h1{
    font-family: 'Staatliches', sans-serif;
    font-size: 2.9rem;
    font-weight: 300; /*modifica lo spessore*/
}

h2{
    font-family: 'Staatliches', sans-serif;
    font-size: 56px;
    font-weight: 700; /*modifica lo spessore*/
}

h3{
    font-family: 'Staatliches', sans-serif;
    font-size: 24px;
    line-height: 43px;
    font-weight: 600; /*modifica lo spessore*/
}

h4,h6{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

p{
    font-family: "", sans-serif; 
    font-size: 1.5rem;
}


/* NAVBAR */

.logo{
    width: 60px;
    height: 60px;
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: grey;
    font-size: 14px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #D2D2D2;
    margin-left: 10px;
      background-color: #ddd;
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */

  .dropdown:hover .dropbtn {background-color: none;}
  
#navbar{
    background-color: white;
    width: 100%;
    height: 72px;
   
}

#nav-list li{
    padding: 16px 10px;
    border-radius: 16px;
    color: gray;
    font-weight: 500;
    font-size: 14px;
}

#navbar input{
    
    border-radius: 16px;
    max-width: 367px;
    width: 100%;
    height: 48px;
    border: none; /*mi toglie il bordo*/
    padding-left: 30px;
    outline: none;
    font-size: 16px;
    color: black;

}

.active-link:hover{
    background-color: #D2D2D2;
    margin-left: 10px;
}


/* header */



.container-header{
    max-width: 1700px;
    margin:auto;
    width: calc(100% - 48px);
}

/* MAIN ARTICOLI */

#main-article .img-container{
    position: relative;
    width: 530px;
    height: 341px;
    overflow: hidden;
    background-color: white;
    flex-grow: 1;
    flex-shrink: 0;
}

#main-article .img-container .img{
    /* prendo direttamente l'immagine e modfico
    sistemo la position , gli dico di prendere
    tutto lo spazio del conteniotre in base alla
    gerarchia e poi sistemo la sua altezza e 
    larghezza con misure relative, cosi da
    poter cambiare dinamicamente */
    position: absolute;
    width: 100%;
    height: 100%;
    float: right;

    
}


#fixed-article{
    margin-top: 56px;
    margin-bottom: 56px;
}

#main-article{
    gap:151px;
}

#main-article .text-container{
    flex-direction: column;
    gap:24px

}

#main-article footer{
    gap:16px;
}

#main-article .author-box{

    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
}

#main-article .author-box p{
    color: black;
    font-weight: 600;
}

/* SECONDA PARTE MAIN */

.content-section {
    padding: 96px 0 101px 0;
  }
  
  .content-section .section-title {
    font-size: 34px;
    font-weight: 700;
  }
  
  .section-wrapper {
    flex-direction: column;
    gap: 34px;
  }
  
  .content-section .article-list {
    width: 100%;
    justify-content: space-between;
    gap: 16px;
  }
  .content-section .img-container {
    position: relative;
    width: 368px;
    height: 207px;
    background-color: black;
    border-radius: 16px;
  }
  
  .content-section .post {
    flex-direction: column;
    gap: 16px;
  }
  
  .content-section .post .author-name {
    font-size: 14px !important;
    font-weight: 600;
  }
  
  .content-section .cta {
    margin-top: 81px;
    font-size: 24px;
    color: var(--brand-color);
    font-weight: 600;
    transition: all 150ms ease;
    cursor: pointer;
  }

  .content-section .cta:hover {
   color: #D2D2D2;

  }
  
  main .content-section:nth-child(0) {
    background-color: #D2D2D2;
  }
  
main .content-section:nth-child(2){
    background-color: #f8f8ff;
}
main .content-section:nth-child(3){
    background-color: #D2D2D2;
}
main .content-section:nth-child(4){
    background-color: #f8f8ff;
}

/* FOOTER */

footer .copyright{

    padding: 15px;
    font-size: 12px;
    color: #D2D2D2;
}

.community-container h3{
    font-weight: 700;
    font-size: 96px;
    margin-top: 35px;
    line-height: 110px;
    margin-bottom: 56px;

}

.community-container p{
    font-size: 24px;
    line-height: 31px;
    color:#D2D2D2
}


.community-container .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap:51px 116px;

}

.icons-wrapper{
    gap:31px;
    font-size: 31px;
}
.community-container form{

    border-radius: 100px;
    width: 368px;
    height: 56px;
    overflow: hidden;
    background-color: #D2D2D2;
}

.community-container input{
    width: 100%;
    border:none;
    outline: none;
    color:black;
    font-weight: 500;
    background-color: #f8f8ff;
    padding-left: 20px;
}

.community-container button[type="submit"]{
    border:none;
    background-color: #D2D2D2;
    padding: 10px 16px;
    font-weight: 600;
    width: 110px;
    cursor: pointer;
    transition: all 175ms ease;

}

.community-container button[type="submit"]:hover{
  color:white;
  background:blueviolet;

}

.footer-link-container{
    margin-top: 180px;
    gap:117px;
}

footer .grid-list{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto ;
    gap:51px 130px;
    margin-bottom: 60px;

}

.grid-list ul{
    margin-top: 17px;
    font-size: 14px;
    color: #D2D2D2;
}

.grid-list ul li{
    cursor: pointer;
    padding:8.5px;
    transition: all 150ms  ease-in;
}
.grid-list ul li:hover{
    /* aggiunge la transizione di far vedere il link */
    text-decoration: underline;
    color: #D2D2D2;
}


/* MEDIA QUERY */

