/*FONT IMPORTATI*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* STYLING DI BASE */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

*::after,*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: gray;
}

ul{
    list-style: none;
}

body{
    background-color: gray;
    font-family: "Montserrat", sans-serif; 
    /* FONT DI BASE */
}


:root{
    --grey:#f8f8ff;
}

/* LAYOUT */
.container{
    max-width: 1140px;
    margin:auto;
    width: calc(100% - 48px);
}

.flex-container{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.brand{
    color:violet;
}

/* TITOLI E PARAGRAFI */
h1{
    font-family: 'Staatliches', sans-serif;
    font-size: 2.9rem;
    font-weight: 300; /*modifica lo spessore*/
}

h2{
    font-family: 'Staatliches', sans-serif;
    font-size: 56px;
    font-weight: 700; /*modifica lo spessore*/
}

h3{
    font-family: 'Staatliches', sans-serif;
    font-size: 1.2rem;
    font-weight: 500; /*modifica lo spessore*/

}

h4,h6{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

p{
    font-family: "", sans-serif; 
    font-size: 1.5rem;
}


/* NAVBAR */
#navbar{
    background-color: white;
    width: 100%;
    height: 72px;
    position: fixed;
   
}
#search-nav{
    height: 72px;
}

#nav-list li{
    padding: 16px 10px;
    border-radius: 16px;
    color: gray;
    font-weight: 500;
    font-size: 14px;
}

#search-nav li{
    padding: 16px 10px;
    border-radius: 16px;
    color: black;
    font-weight: 500;
    font-size: 14px;

}

#search-nav input{
    
    border-radius: 16px;
    max-width: 367px;
    width: 100%;
    height: 48px;
    border: none; /*mi toglie il bordo*/
    padding-left: 30px;
    outline: none;
    font-size: 16px;
    color: black;

}

.active-link:hover{
    background-color: #D2D2D2;
    margin-left: 10px;
}

.active-link2:hover{
    background-color: white;
    margin-left: 10px;
}

/* header */
.container-header{
    max-width: 1700px;
    margin:auto;
    width: calc(100% - 48px);
}

#claim{
    background-color: var(--grey);
    width: 100%;
    height: 280px;
}

/* MAIN ARTICOLI */

#main-article .img-container{
    position: relative;
    width: 530px;
    height: 341px;
    overflow: hidden;
    background-color: white;
    flex-grow: 1;
    flex-shrink: 0;

}

#main-article .img-container .img{
    /* prendo direttamente l'immagine e modfico
    sistemo la position , gli dico di prendere
    tutto lo spazio del conteniotre in base alla
    gerarchia e poi sistemo la sua altezza e 
    larghezza con misure relative, cosi da
    poter cambiare dinamicamente */
    position: absolute;
    width: 100%;
    height: 100%;
    
}


#fixed-article{
    margin-top: 56px;
    margin-bottom: 56px;
}

#main-article{
    gap:151px;
}

#main-article .text-container{
    flex-direction: column;
    gap:24px

}

#main-article footer{
    gap:16px;

}

#main-article .author-box{

    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
}

#main-article .author-box p{
    color: black;
    font-weight: 600;
}

/* SECONDA PARTE MAIN */

.content-section .section-wrapper{
    flex-direction: column ;
}
