/*FONT IMPORTATI*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* STYLING DI BASE */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

*::after,*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: gray;
}

ul{
    list-style: none;
}

body{
    background-color: gray;
    font-family: "Montserrat", sans-serif; 
    /* FONT DI BASE */
}


:root{
    --grey:#f8f8ff;
}

/* LAYOUT */
.container{
    max-width: 1140px;
    margin:auto;
    width: calc(100% - 48px);
}

.flex-container{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.brand{
    color:violet;
}

/* TITOLI E PARAGRAFI */
h1{
    font-family: 'Staatliches', sans-serif;
    font-size: 2.9rem;
    font-weight: 300; /*modifica lo spessore*/
}

h2{
    font-family: 'Staatliches', sans-serif;
    font-size: 56px;
    font-weight: 700; /*modifica lo spessore*/
}

h3{
    font-family: 'Staatliches', sans-serif;
    font-size: 24px;
    line-height: 43px;
    font-weight: 600; /*modifica lo spessore*/
}

h4,h6{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

p{
    font-family: "", sans-serif; 
    font-size: 1.5rem;
}


/* NAVBAR */
#navbar{
    background-color: white;
    width: 100%;
    height: 72px;   
    position: fixed;
}

#nav-list li{
    padding: 16px 10px;
    border-radius: 16px;
    color: gray;
    font-weight: 500;
    font-size: 14px;

}

.active-link:hover{
    background-color: #D2D2D2;
    margin-left: 10px;
}



/* header */


.container-header{
    max-width: 1700px;
    margin:auto;
    width: calc(100% - 48px);
}

.box{
    padding-top: 120px;
}
#claim{
    width: 99%;
    background-color: white;
    margin-left: 10px;
    border-radius: 16px;
}


.container-img{
    float: left;
}

.img{
    border-radius: 60%;
    height: 400px;
    margin-right: 20px;
}

/* MAIN */

.container-main{
    max-width: 1700px;
    margin:auto;
    width: calc(100% - 48px);
}

#claim2{
    background-color:  white;
    width: 99%;
    margin-top: 40px;
    margin-left: 10px;
    border-radius: 16px;

}

#claim3{
    background-color:  white;
    height: 280px;
    width: 99%;
    margin-top: 40px;
    margin-left: 10px;
    border-radius: 16px;
}

/* FOOTER */

footer .copyright{

    padding: 15px;
    font-size: 12px;
    color: #D2D2D2;
}

.community-container h3{
    font-weight: 700;
    font-size: 96px;
    margin-top: 35px;
    line-height: 110px;
    margin-bottom: 56px;

}

.community-container p{
    font-size: 24px;
    line-height: 31px;
    color:#D2D2D2
}


.community-container .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap:51px 116px;

}

.icons-wrapper{
    gap:31px;
    font-size: 31px;
}
.community-container form{

    border-radius: 100px;
    width: 368px;
    height: 56px;
    overflow: hidden;
    background-color: #D2D2D2;
}

.community-container input{
    width: 100%;
    border:none;
    outline: none;
    color:black;
    font-weight: 500;
    background-color: #f8f8ff;
    padding-left: 20px;
}

.community-container button[type="submit"]{
    border:none;
    background-color: #D2D2D2;
    padding: 10px 16px;
    font-weight: 600;
    width: 110px;
    cursor: pointer;
    transition: all 175ms ease;

}

.community-container button[type="submit"]:hover{
  color:white;
  background:blueviolet;

}

.footer-link-container{
    margin-top: 180px;
    gap:117px;
}

footer .grid-list{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto ;
    gap:51px 130px;
    margin-bottom: 60px;

}

/* MEDIA QUERY DA 0 A 480 */

@media (max-width: 480px) {

    .img{
        border-radius: 60%;
        width: 70%;    
        height: 80%;
        margin-left: 50px;
    }

    
    .box{
        padding-top: 120px;
    }
    #claim{
        width: 99%;
        background-color: white;
        margin-left: 10px;
        border-radius: 16px;
    }

    p{
        font-family: 'Staatliches', cursive;
        font-size: 1.2rem;

    }


  
 }


