/*FONT IMPORTATI*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/* PARAGRAFI UBUNTU */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Staatliches&family=Ubuntu:wght@300&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
/* STYLING DI BASE */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

*::after,*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

body{
     background-color: white;
    font-family: "Montserrat", sans-serif; 
    /* FONT DI BASE */
}


:root{
    --grey:#f8f8ff;
}

/* LAYOUT */
.container{
    max-width: 1140px;
    margin:auto;
    width: calc(100% - 48px);
}

.flex-container{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.brand{
    color:violet;
}

/* TITOLI E PARAGRAFI */
h1{
    font-family: 'Staatliches', sans-serif;
    font-size: 2.9rem;
    font-weight: 300; /*modifica lo spessore*/
}

h2{
    font-family: 'Staatliches', sans-serif;
    font-size: 56px;
    font-weight: 700; /*modifica lo spessore*/
}

h3{
    font-family: 'Staatliches', sans-serif;
    font-size: 24px;
    line-height: 43px;
    font-weight: 600; /*modifica lo spessore*/
}

h4,h6{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

p{
    font-family: "", sans-serif; 
    font-size: 1.2rem;
    color: black;
}


/* NAVBAR */

#navbar{
    background-color: #1B4965;
    width: 100%;
    height: 72px;
    position: fixed;

}


#nav-list li{
    
    padding: 16px 10px;
    border-radius: 16px;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

#navbar input{
    
    border-radius: 16px;
    max-width: 367px;
    width: 100%;
    height: 48px;
    border: none; /*mi toglie il bordo*/
    padding-left: 30px;
    outline: none;
    font-size: 16px;
    color: black;

}

.active-link:hover{
    background-color: black;
    margin-left: 10px;
}

.logo{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background-color: white;
}

/* MAIN */

#section-principale{
    padding-top: 140px;
}

.grid-form{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 5px;
    margin-top: 20px;

}
.form{
    
    padding: 20px;
    margin: 0 10% 0 40% ;

}

#section-principale .grid-form input{
    
    margin-top: 2%;
    border: 0.4px solid gainsboro;
    border-radius: 10px;
    outline: none;
    padding: 10px;
}


.btn{

    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    margin-left: 28%;
    background-color: black;

}


/* FOOTER */

#fot{
    width: 100%;
    background-color: #1B4965;
}

footer .copyright{

    padding: 15px;
    font-size: 12px;
    color: black;
}

.community-container h3{
    font-weight: 700;
    font-size: 96px;
    margin-top: 35px;
    padding-top: 30px;
    line-height: 110px;
    margin-bottom: 56px;

}

.community-container p{
    font-size: 24px;
    line-height: 31px;
    color:white;
}


.community-container .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap:51px 116px;

}

.icons-wrapper{
    gap:31px;
    font-size: 31px;
    color:white
}
.community-container form{

    border-radius: 100px;
    width: 368px;
    height: 56px;
    overflow: hidden;
    background-color: #D2D2D2;
}

.community-container input{
    width: 100%;
    border:none;
    outline: none;
    color:black;
    font-weight: 500;
    background-color: #f8f8ff;
    padding-left: 20px;
}

.community-container button[type="submit"]{
    border:none;
    background-color: #D2D2D2;
    padding: 10px 16px;
    font-weight: 600;
    width: 110px;
    cursor: pointer;
    transition: all 175ms ease;

}

.community-container button[type="submit"]:hover{
  color:white;
  background:blueviolet;

}

.footer-link-container{
    margin-top: 180px;
    gap:117px;
}

footer .grid-list{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto ;
    gap:51px 130px;
    margin-bottom: 60px;

}

.grid-list ul{
    margin-top: 17px;
    font-size: 14px;
    color: white;
}

.grid-list ul li{
    cursor: pointer;
    padding:8.5px;
    transition: all 150ms  ease-in;
}
.grid-list ul li:hover{
    /* aggiunge la transizione di far vedere il link */
    text-decoration: underline;
    color: #D2D2D2;
}


/* MEDIA QUERY */

